@font-face {
    font-family: Roboto;
     src: url("assets/fonts/Roboto.ttf");
   }

<style>
  body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto';
  }

  *{
      box-sizing: border-box;
  }
  
</style>